.container.user-schedule
  .row
    .span1
      .schedule-track
        .track-inner

    .span11
      .time-line
        .block.sorting
          .track-icon
            %i.icon-cog
          %h5
            اختر المرحله لهذا الاسبوع
          %p
            أم عليها المشتّتون تعد. كل وضم الصيني وقدّموا. قد يتبقّ الإمداد ولم, الضغوط الإتحاد أي يكن. لم النمسا الإيطالية انه, أي زهاء الألماني عدم, عقبت تشكيل النمسا بين ما. مقاطعة والنرويج كل كلّ. في الخارجية المدنيين كلّ, الجبهة باستحداث من حتى.

            لكل ان معارضة للإتحاد هيروشيما. يرتبط تكتيكاً في ومن, استرجاع تكبّلتها عل حدى, ثم إيو مرمى أدولف اليميني. ثم وقد العالم، اليميني, شبح إذ هامش بولندا،. هو إختار وسمّيت به،, العدّ وتنامت ٣٠ دنو, أن أضف مسارح واستمر الدولارات. إذ لفشل بالسيطرة مكن.
        - 5.times do
          .block
            .track-icon
              %i.icon-calendar
            .current-date
              الجمعه , ١٧ يناير
            .data
              .row
                .span3.activity-block
                  %h4.activity-name
                    الصلاه
                  .activity-content
                    أم عليها المشتّتون تعد. كل وضم الصيني وقدّموا. قد يتبقّ الإمداد ولم, الضغوط الإتحاد أي يكن. لم النمسا الإيطالية انه, أي زهاء الألماني عدم, عقبت تشكيل النمسا بين ما. مقاطعة والنرويج كل كلّ. في الخارجية المدنيين كلّ, الجبهة باستحداث من حتى.

                .span3.activity-block
                  %h4.activity-name
                    الصوم
                  .activity-content
                    أم عليها المشتّتون تعد. كل وضم الصيني وقدّموا. قد يتبقّ الإمداد ولم, الضغوط الإتحاد أي يكن. لم النمسا الإيطالية انه, أي زهاء الألماني عدم, عقبت تشكيل النمسا بين ما. مقاطعة والنرويج كل كلّ. في الخارجية المدنيين كلّ, الجبهة باستحداث من حتى.

                .span3.activity-block
                  %h4.activity-name
                    القيام
                  .activity-content
                    أم عليها المشتّتون تعد. كل وضم الصيني وقدّموا. قد يتبقّ الإمداد ولم, الضغوط الإتحاد أي يكن. لم النمسا الإيطالية انه, أي زهاء الألماني عدم, عقبت تشكيل النمسا بين ما. مقاطعة والنرويج كل كلّ. في الخارجية المدنيين كلّ, الجبهة باستحداث من حتى.


/ .profile-wrapper
/   .container
/     .profile-header.row
/       .user-avatar.pull-left
/         = image_tag 'avatar.png', class: 'img-polaroid'
/         / = image_tag @user.avatar.profile.url
/       .user-info
/         .span3
/           .user-name
/             / = @user.name
/             عمر بن الخطاب
/         %ul.badges-list
/           %li.badges.abubakr
/           %li.badges.abuobayda
/           %li.badges.omr
/           %li.badges.ali
/         .pull-right
/           .span2.action-info
/             %label
/               اجمالى النقاط
/               / %span{id: "#{@user.id}-acc-score"}
/               = total_acc_score

/     %br

/     .timeline-wrapper.row
/       - if @schedules.present?
/         - grouped_schedules = @schedules.desc(:start_date).group_by(&:start_date)
/         - grouped_schedules.keys.each_with_index do |s,x|
/           - start_date = grouped_schedules[s].first.start_date
/           - end_date = grouped_schedules[s].first.end_date
/           - user_level = current_user.level(start_date)
/           - current_level = user_level.level if user_level
/           - level_schedules = level_schedules(grouped_schedules[s], current_level)
/           - unless missed_schedule?(start_date, end_date)
/             .week-wrapper.clearfix
/               .span3
/                 %h5
/                   اختر المرحله لهذا الاسبوع

/               .span4.week-level
/                 %span.day-activity
/                   .schedule-item{id: "option-level-select"}
/                     = render partial: "level_select", locals: {start_date: start_date, end_date: end_date, schedules: grouped_schedules[s], current_level: current_level}

/                   - start_range = x == 0 ? (grouped_schedules[s].first.end_date < Date.today  ? grouped_schedules[s].first.end_date : Date.today) : grouped_schedules.keys[x-1] - 1

/               .span2.offset2.week-points
/                 %label
/                   اجمالى نقاط الاسبوع
/                   %span{id: "#{start_range.strftime('%y%m%d')}-week-score"}
/                     = total_week_score(s, start_range)

/             %ul.days-activity.row
/               .schedule{id: "#{start_range}-to-#{s}"}
/                 = render partial: 'users/populate_timeline', locals: {start_range: start_range, end_range: s, schedules: grouped_schedules[s], completed_tasks: @completed_tasks}
/       - else
/         %p
/           No schedules yet!

/ .timeline.flow
/   .main-content.clearfix
/     %section.schedule-activity
/       #days-activity
/         %ul.schedules
/           - if @schedules.present?
/             - grouped_schedules = @schedules.desc(:start_date).group_by(&:start_date)
/             - grouped_schedules.keys.each_with_index do |s,x|
/               - start_date = grouped_schedules[s].first.start_date
/               - end_date = grouped_schedules[s].first.end_date
/               - user_level = current_user.level(start_date)
/               - current_level = user_level.level if user_level
/               - level_schedules = level_schedules(grouped_schedules[s], current_level)
/               - unless missed_schedule?(start_date, end_date)
/                 %li.clearfix
/                   .calendar
/                     .date
/                       = t('level.selected')
/                   .schedule-item{id: "option-level-select"}
/                     = render partial: "level_select", locals: {start_date: start_date, end_date: end_date, schedules: grouped_schedules[s], current_level: current_level}

/                 - start_range = x == 0 ? (grouped_schedules[s].first.end_date < Date.today  ? grouped_schedules[s].first.end_date : Date.today) : grouped_schedules.keys[x-1] - 1
/                 %li.week-points.clearfix
/                   .calendar
/                     .date
/                       = t('achievement.week_score')
/                   .schedule-item
/                     .content.clearfix
/                       %h4
/                         %span.numbers{id: "#{start_range.strftime('%y%m%d')}-week-score"}
/                           = total_week_score(s, start_range)
/                         = t('common.points')
/                 %ul
/                   .schedule{id: "#{start_range}-to-#{s}"}
/                     = render partial: 'users/populate_timeline', locals: {start_range: start_range, end_range: s, schedules: grouped_schedules[s], completed_tasks: @completed_tasks}
/           - else
/             No schedules yet!
