.container
  = link_to "<< All Schedules", schedules_path, class: "btn"
  %h3 
    = @schedule.title
    %span.label
      = @schedule.level.name
  = form_for @schedule, method: :put do |f|
    .row
      = f.error_messages header_tag: 'h4', message: nil, class: 'alert alert-error'
    .tasks-builder
      = f.text_field :title, placeholder: t('common.title'), class: "span3"
      = f.fields_for :activity_tasks do |t|
        .row
          = t.error_messages header_tag: 'h4', message: nil, class: 'alert alert-error'
        - t.object.tasks.build
        = render partial: "activity_task_fields", locals: {f: t}
      .add-task
        = link_to_add_fields t("schedule.add_category"), f, :activity_tasks
      
    .action
      = f.submit "Save", class: "btn btn-success"