.container-fluid
  %h3
    Schedules
    %span.pull-right
      = link_to "New schedule", "#", class: "btn", data: {toggle: "modal", target: "#new-schedule"}
  .row-fluid
    - if @schedules.present?
      - grouped_schedules = @schedules.group_by(&:start_date)
      - grouped_schedules.keys.each do |s|
        %table.table
          %thead
            %tr
              %th Start date
              %th End Date
              %th
          %tbody
            %tr.success
              %td= s.strftime('%d-%m-%Y')
              %td= grouped_schedules[s].first.end_date.strftime('%d-%m-%Y')
              %td
                - if can_edit_schedule?(grouped_schedules[s].first)
                  = link_to "Edit Date", edit_multiple_schedule_path(grouped_schedules[s].first), data: {toggle: "modal", remote: true, target: "#edit-schedule-date"}, class: 'btn'
        - levels = grouped_schedules[s].group_by(&:level)
        - levels.keys.each do |level|
          %table.table.table-striped
            %thead
              %tr
                %th Title
                %th Created at
                %th Total Tasks
                %th Total points
                %th
            %tbody
              %tr.info
                %td{colspan: 3}
                  = level.name
                  - if level.default
                    %span.label= t('level.default_level')
                %td
                  = link_to t('level.add_follow_up_messages'), level_follow_up_messages_path(level)
                %td
                  = form_for level, method: :put, class: "form-inline" do |f|
                    .span2
                      = f.check_box :default, class: "checkbox span2 assign-default-level"
                    = f.label t('level.assign_default'), class: "checkbox"
                      
              - levels[level].each do |schedule|
                %tr
                  %td
                    = link_to schedule_path(schedule) do
                      = schedule.title
                  %td
                    = schedule.created_at.to_date
                  %td
                    = schedule.tasks_count
                  %td
                    = schedule.total_points
                  %th 
                    = link_to t("common.show"), schedule_path(schedule)
                    - if can_delete?(schedule)
                      |
                      = link_to t("common.delete"), schedule_path(schedule), method: :delete
    - else
      .alert
        No schedules yet!
#new-schedule.modal.hide.fade{tabindex: "-1", role: "dialog"}
  .modal-header
    = link_to "×", '', class: "close", :'data-dismiss' => "modal", :'aria-hidden' => true
    %h3 
      = t('schedule.new')
  = form_tag create_multiple_schedules_path, method: :put, class: 'form-horizontal' do
    .modal-body
      = render partial: "schedule-form"
    .modal-footer
      = submit_tag "Create", class: "btn btn-success"

#edit-schedule-date.modal.hide.fade{tabindex: "-1", role: "dialog"}
  .modal-header
    = link_to "×", '', class: "close", :'data-dismiss' => "modal", :'aria-hidden' => true
    %h3 
      = t('schedule.edit_date')
  #date-form