= link_to "<< All Schedules", schedules_path, class: "btn"
%h3 
  = @schedule.title
  %span.label
    = @schedule.level.name
= form_for @schedule, method: :put do |f|
  .row-fluid
    .span6.tasks-builder
      = f.text_field :title, placeholder: t('common.title'), class: "span6"
      = f.fields_for :tasks do |t|
        = render partial: "task_fields", locals: {f: t}
      .add-task
        = link_to_add_fields "Add Task", f, :tasks 
    
  .row-fluid
    = f.submit "Save", class: "btn btn-success"