.landing-wrapper
  .landing
    .container-fluid
      .row-fluid
        .span5
          .quote
            %p
              عن أسامة بن زيد رضي الله عنهما قال: قلت يا رسول الله: لم أرك تصوم من شهر من الشهور ما تصوم من شعبان؟ قال : ذاك شهر تغفل الناس فيه عنه، بين رجب ورمضان، وهو شهر ترفع فيه الأعمال إلى رب العالمين، وأحب أن يرفع عملي وأنا صائم.
            %p
              [رواه النسائي]


  .container
    .row
      .span5
        .landing-signup
          %h3
            التسجيل
          %br

          = form_for("user", url: user_registration_path) do |f|
            .control-group
              .controls
                = f.text_field :username, class: 'input-xlarge', placeholder: 'اسم المستخدم'

            .control-group
              .controls
                = f.password_field :password, class: 'input-xlarge', placeholder: 'كلمة المرور'

            .control-group
              .controls
                = f.password_field :password_confirmation, class: 'input-xlarge', placeholder: 'تأكيد كلمة المرور'

            .control-group
              .controls
                .radio-btn
                  = f.radio_button :gender, :male
                  ذكر
                .radio-btn
                  = f.radio_button :gender, :female
                  أنثي

            .control-group
              .controls
                = f.submit "تسجيل", class: 'btn btn-success'

      .span7
        .video
          %iframe{src: "http://player.vimeo.com/video/17120260", width:"100%", height:"400", frameborder: "0", webkitAllowFullScreen: 'true', mozallowfullscreen: 'true', allowFullScreen: 'true'}
