<div class="container-fluid">
  <div class="row-fluid">
    <div class="span11 offset1">
      <h2>تسجيل الدخول</h2>
      <br>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
        <div class="control-group">
          <label class="control-label">البريد الإلكتروني</label>
          <div class="controls">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">كلمة المرور</label>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <div class="check-box">
                <%= f.check_box :remember_me %>
                تذكرني
              </div>
            </div>
          </div>
        <% end %>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Sign in", class: "btn btn-success" %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= render "devise/shared/links" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
