.container
  .row.activities
    .span4.offset4
      %h3 Activities
      = form_for @activty || Activity.new do |f|
        = f.text_field :title, placeholder: "Title"
        = f.submit "Create", class: "btn btn-success"
      .activities-list
        - @activities.each do |activity|
          %span.activity-title.label
            = activity.title
            = link_to "X", activity_path(activity), method: :delete
