.navbar
  .navbar-inner
    %div{class: current_page?(root_path) ? "container-fluid" : "container"}
      %div{class: current_page?(root_path) ? "row-fluid" : "row"}
        .span5
          .slogan.brand
            نصلح أنفسنا ونجتهد في إصلاح غيرنا :)
        .span7
          - if user_signed_in?
            %ul.nav.pull-right
              %li.dropdown{id: 'user-management'}
                %a#user-management-header.dropdown-toggle{href: '#', role: 'button', data: {toggle: 'dropdown'}}
                  = current_user.username
                  %b.caret
                %ul.dropdown-menu{role: 'menu', :"aria-labelledby" => "user-management"}
                  %li
                    = link_to t('common.my_schedule'), user_path(current_user.id)
                  %li
                    = link_to "الاعدادات", "#"
                  - if current_user.role?(:admin)
                    %li
                      = link_to "Admin dashboard", admin_dashboard_path
                  %li.divider
                  %li= link_to t('user.sign_out'), destroy_user_session_path

          - else
            = render partial: 'layouts/sign_in'
