!!!5
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html
  %head
    %title Morabeteen
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

    / Facebook meta tags
    %meta{property: "fb:page_id", content: ""}
    %meta{property: "fb:image", content: ""}
    %meta{property: "fb:description", content: ""}
    %meta{property: "fb:title", content: ""}

    / Google meta tags
    %meta{itemprop: "name", content: ""}
    %meta{itemprop: "description", content: ""}
    %meta{itemprop: "image", content: ""}

    / Viewport meta tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1"}

  %body
    = render partial: 'layouts/header'
    .container
      = custom_bootstrap_flash
    = yield

